@charset "utf-8";

/* 共通のスタイル */

header {
    .wrap {
        padding: 0 28px;

        .site-header {
            padding: 28px 0 24px;
            text-align: right;
            border-bottom: 1px solid #000000;

            .logo {
                width: 266px;
                margin: 0 0 0 auto;

                a {
                    @include hover-effect;
                }
            }
        }
    }
}

.wrap {
    width: 1125px;
    margin: 0 auto;
}

.content {
    padding: 0 28px;
}

.main-figure {
    margin: 0 0 44px;
    padding: 48px 62px;
}

/* ----- TEXT ----- */
.txt {
    position: relative;
    font-size: 21px;
    font-weight: $fw-normal;
    line-height: 1.35;
    color: #000000;

    &.txt-has-star {
        padding: 0 0 0 24px;
        
        &::before {
            position: absolute;
            content: '※';
            left: 0;
            top: 0;
        }
    }
}