@charset "utf-8";

/* 共通のスタイル */

header {
    .wrap {
        padding: 0 28px;

        .site-header {
            padding: 28px 0 24px;
            text-align: right;
            border-bottom: 1px solid #000000;

            .logo {
                width: 266px;
                margin: 0 0 0 auto;

                a {
                    @include hover-effect;
                }
            }
        }
    }
}

.wrap {
    width: 1125px;
    margin: 0 auto;
}

.content {
    padding: 0 28px;
}

.main-figure {
    margin: 0 0 44px;
    padding: 48px 62px;
}

.btn-default {
    @include flex-center;
    width: 497px;
    height: 75px;
    margin: 0 auto 32px;
    font-size: 28px;
    font-weight: $fw-bold;
    color: #ffffff;
    background: linear-gradient(180deg, rgba(0,128,203,1) 31%, rgba(0,73,137,1) 73%);
    border: none;
    border-radius: 18px;
    outline: none;
    cursor: pointer;
    @include hover-effect;
}

.btn-back {
    @include flex-center;
    width: 277px;
    height: 75px;
    margin: 0 auto 32px;
    font-size: 28px;
    font-weight: $fw-bold;
    color: #ffffff;
    background: linear-gradient(180deg, rgba(87,216,82,1) 31%, rgba(0,146,69,1) 73%);
    border: none;
    border-radius: 18px;
    outline: none;
    cursor: pointer;
    @include hover-effect;    
}

.btn-clear {
    @include flex-center;
    width: 497px;
    height: 75px;
    margin: 0 auto 32px;
    font-size: 28px;
    font-weight: $fw-bold;
    color: #ffffff;
    background: linear-gradient(180deg, rgba(204,204,204,1) 31%, rgba(102,102,102,1) 73%);
    border: none;
    border-radius: 18px;
    outline: none;
    cursor: pointer;
    @include hover-effect;
}

.bottom-btn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

    .btn {
        margin: 0 8px 12px;
    }
}

/* ----- TITLE ----- */
.ttl-blue-wide {
    @include flex-center;
    margin: 0 -24px;
    font-size: 28px;
    font-weight: $fw-bold;
    line-height: 1.8;
    color: #ffffff;
    background: linear-gradient(180deg, rgba(0,128,203,1) 31%, rgba(0,73,137,1) 73%);

    &.ttl-blue-wide-full {
        margin: 0;
    }
}

/* ----- TEXT ----- */
.txt {
    position: relative;
    font-size: 21px;
    font-weight: $fw-normal;
    line-height: 1.35;
    color: #000000;

    &.txt-has-star {
        padding: 0 0 0 24px;

        &::before {
            position: absolute;
            content: '※';
            left: 0;
            top: 0;
        }
    }
}

/* ----- MARGIN ----- */
.mb-20 {
    margin-bottom: 20px !important;
}