@charset "utf-8";

/* 家財・オプション選択ページのスタイル */

body.select {
    .select-head {
        display: flex;
        margin: 20px 0 50px;

        .select-head-l {
            width: calc(100% - 185px);

            .select-head-l-ttl {
                @include flex-center-v;
                font-size: 15px;
                font-weight: $fw-normal;
                line-height: 1.8;

                span {
                    margin-right: 16px;
                    font-size: 28px;
                    font-weight: $fw-bold;
                }
            }

            .select-head-bar-list {
                @include flex-center-v;

                .select-head-bar-item {
                    position: relative;
                    width: 25%;
                    height: 68px;

                    span {
                        @include absolute-center;
                        font-size: 14px;
                        font-weight: $fw-bold;
                    }

                    &:nth-child(1) {
                        background-color: rgba(0, 255, 255, 1.0);

                        span {
                            color: rgba(0, 73, 137, 1.0);
                        }
                    }

                    &:nth-child(2) {
                        background-color: rgba(217, 224, 33, 1.0);

                        span {
                            color: rgba(0, 146, 69, 1.0);
                        }
                    }

                    &:nth-child(3) {
                        background-color: rgba(251, 176, 59, 1.0);

                        span {
                            color: rgba(241, 90, 36, 1.0);
                        }
                    }

                    &:nth-child(4) {
                        background-color: rgba(255, 123, 172, 1.0);

                        span {
                            color: rgba(193, 39, 45, 1.0);
                        }
                    }
                }
            }
        }

        .select-head-r {
            width: 185px;
            text-align: center;

            .select-head-r-ttl {
                margin: 0 0 7px;
                font-size: 24px;
                font-weight: $fw-bold;
                line-height: 1.8;
            }

            .select-head-cur-value {
                font-size: 26px;
                font-weight: $fw-bold;
                line-height: 1.8;

                span {
                    font-size: 68px;
                    line-height: 1.0;
                    color: rgba(255, 0, 0, 1.0);
                }
            }
        }
    }

    .select-body {
        margin: 0 0 20px;
        padding: 28px 0 0;

        .select-body-ttl {
            margin-bottom: 18px;
        }

        .select-list {
            .select-item {
                .select-item-head {
                    @include flex-center;
                    font-size: 28px;
                    font-weight: $fw-bold;
                    line-height: 1.8;
                    color: #ffffff;
                    cursor: pointer;
                    background: linear-gradient(180deg, rgba(204,204,204,1) 31%, rgba(128,128,128,1) 73%);                    
                }

                .select-item-body {
                    padding: 10px 0;
                    display: none;

                    table {
                        width: 100%;
                        border-collapse: collapse;

                        tr {
                            width: 100%;

                            td, th {
                                height: 75px;
                                border: 1px solid #000000;
                            }

                            th {
                                width: 135px;
                                padding: 0 24px;
                                text-align: center;
                                vertical-align: top;

                                img {
                                    margin: 0 auto;
                                }
                            }

                            td {
                                position: relative;
                                width: calc(100% - 135px);
                                font-size: 28px;
                                font-weight: $fw-bold;

                                .item-name {
                                    position: relative;
                                    padding: 24px;
                                    
                                    .select-size {
                                        @include absolute-center-y;
                                        right: 24px;
                                        cursor: pointer;
                                    }

                                    .item-ctrl {
                                        @include absolute-center-y;
                                        right: 24px;
                                        padding: 10px 60px 10px 10px;
                                        border: 1px solid #000000;
                                        border-radius: 6px;

                                        .up, .dn {
                                            position: relative;
                                            width: 15px;
                                            height: 15px;
                                            cursor: pointer;
                                        }

                                        .up {
                                            position: absolute;
                                            right: 10px;
                                            top: 7px;

                                            &:before {
                                                content: '';
                                                position: absolute;
                                                width: 0;
                                                height: 0;
                                                border-style: solid;
                                                border-width: 0 7px 15px 7px;
                                                border-color: transparent transparent #000000 transparent;
                                            }
                                        }

                                        .dn {
                                            position: absolute;
                                            right: 10px;
                                            bottom: 7px;

                                            &:before {
                                                content: '';
                                                position: absolute;
                                                width: 0;
                                                height: 0;
                                                border-style: solid;
                                                border-width: 15px 7px 0 7px;
                                                border-color: #000000 transparent transparent transparent;
                                            }
                                        }
                                    }
                                }

                                .sub-item-list {
                                    display: none;

                                    li {
                                        padding: 0 0 0 56px;
                                        border-top: 1px solid #000000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .select-standalone {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0 50px;

        .standalone-icon {
            width: 219px;
        }

        .standalone-info {
            width: calc(100% - 219px);
            padding: 0 0 0 20px;

            .standalone-info-ttl {
                margin: 0 0 16px;
                font-size: 42px;
                font-weight: $fw-bold;
                color: rgba(255, 29, 37, 1.0);
            }

            .standalone-info-txt {
                font-size: 27px;
                font-weight: $fw-normal;
                line-height: 1.33;
            }
        }

        .standalone-desc {
            position: relative;
            width: 100%;
            margin: 20px 0 0;
            padding: 0 0 0 36px;
            font-size: 29px;
            font-weight: $fw-bold;
            line-height: 1.33;
            color: rgba(255, 0, 0, 1.0);

            &::before {
                position: absolute;
                content: '※';
                left: 0;
                top: 0;
            }
        }
    }

    .select-object {
        position: relative;
        padding: 30px 64px 10px;
        border: 4px solid rgba(237, 28, 36, 1.0);
        border-radius: 18px;

        .select-object-ttl {
            @include absolute-center-x;
            top: -25px;
            text-align: center;

            span {
                padding: 0 20px;
                font-size: 28px;
                font-weight: $fw-bold;
                line-height: 1.8;
                color: rgba(255, 29, 37, 1.0);
                background-color: #ffffff;
            }
        }
    }

    .select-message {
        textarea {
            width: 100%;
            padding: 20px 10px;
            font-size: 21px;
            font-weight: $fw-normal;
            line-height: 1.3;
            border: 1px solid #000000;
            border-radius: 24px;
            resize: none;
        }
    }
}

body.select-date {
    .select-calendar {
        margin: 30px 0 20px;

        table {
            width: 100%;
            border-collapse: collapse;

            tr {
                width: 100%;

                th, td {
                    text-align: center;
                    vertical-align: middle;
                    font-size: 28px;
                    font-weight: $fw-bold;
                    border: 1px solid #000000;

                    &:first-child {
                        color: rgba(255, 0, 0, 1.0);
                        background-color: rgba(255, 123, 172, 1.0);
                    }

                    &:last-child {
                        color: rgba(0, 73, 137, 1.0);
                        background-color: rgba(63, 169, 245, 1.0);
                    }
                }

                th {
                    height: 55px;
                }

                td {
                    height: 95px;
                }
            }
        }
    }
}

body.select-infos {
    .select-overview {
        @include flex-center;
        align-items: flex-end;
        margin: 40px 0 20px;

        span {
            &.small {
                font-size: 28px;
                font-weight: $fw-bold;
                line-height: 1.3;
            }

            &.medium {
                font-size: 66px;
                font-weight: $fw-bold;
            }

            &.large {
                font-size: 179px;
                font-weight: $fw-bold;
                line-height: 1.0;
                color: #ff0000;
            }

            &.right {
                text-align: right;
            }
        }
    }

    .select-info-table {
        margin: 0 0 20px;

        table {
            width: 100%;
            border-collapse: collapse;

            tr {
                width: 100%;

                td {
                    padding: 10px 25px;
                    font-size: 28px;
                    font-weight: $fw-bold;
                    line-height: 1.7;
                    border: 1px solid #000000;

                    &.sht {
                        width: 240px;
                    }

                    &.lng {
                        width: calc(100% - 240px);
                    }
                }

                &:nth-child(even) {
                    background-color: #e6e6e6;
                }
            }
        }
    }

    .select-info-date-wrapper {
        @include flex-center;
        width: 100%;
        height: 104px;

        .select-info-date {
            font-size: 28px;
            font-weight: $fw-bold;
            line-height: 1.7;
        }
    }
}

body.select-price {
    .price-body {
        margin: 0 0 190px;
        padding: 0 80px;

        .price-wrapper {
            @include flex-center;
            width: 100%;
            height: 148px;
            margin: 0 0 16px;
            background-color: #adffff;

            .price {
                font-size: 48px;
                font-weight: $fw-bold;
                line-height: 1.75;

                span {
                    font-size: 80px;
                }
            }
        }

        .price-table {
            margin: 0 0 36px;

            table {
                width: 100%;
                border-collapse: collapse;
                margin: 0 0 36px;

                tr {
                    width: 100%;

                    td, th {
                        width: 50%;
                        padding: 30px;
                        text-align: center;
                        font-size: 28px;
                        font-weight: $fw-bold;
                        border: 1px solid #000000;
                    }

                    th {
                        background-color: #adffff;
                    }

                    &:last-child {
                        td {
                            background-color: #adffff;
                        }
                    }
                }
            }
        }
    }

    .attention {
        .attention-head {
            @include flex-center;
            width: 100%;
            height: 72px;
            font-size: 28px;
            font-weight: $fw-bold;
            line-height: 1.7;
            color: #ffffff;
            background: linear-gradient(180deg, rgba(255,183,73,1) 31%, rgba(255,109,0,1) 73%);
        }

        .attention-body {
            padding: 20px 24px 40px;
            background-color: #fff29d;

            .attention-txt {
                margin: 0 0 40px;
                font-size: 21px;
                font-weight: $fw-normal;
                line-height: 1.6;
            }

            .attention-agree {
                @include flex-center;

                .chk-wrapper {
                    @include flex-center-v;

                    input[type=checkbox] {
                        width: 36px;
                        height: 36px;
                        border: 2px solid #000000;
                        cursor: pointer;
                    }

                    label {
                        padding: 0 0 0 18px;
                        font-size: 38px;
                        font-weight: $fw-bold;
                        line-height: 1.7;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}