@charset "UTF-8";
/* 変数 */
/* 基礎のスタイル */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 100px;
  /* font-family: 'Noto Sans JP', sans-serif; */
  overflow-x: hidden;
  color: #000000;
}

a {
  text-decoration: none !important;
}

* a {
  text-decoration: none !important;
  color: unset;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 共通のスタイル */
header .wrap {
  padding: 0 28px;
}

header .wrap .site-header {
  padding: 28px 0 24px;
  text-align: right;
  border-bottom: 1px solid #000000;
}

header .wrap .site-header .logo {
  width: 266px;
  margin: 0 0 0 auto;
}

header .wrap .site-header .logo a {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

header .wrap .site-header .logo a:hover {
  opacity: 0.7;
}

.wrap {
  width: 1125px;
  margin: 0 auto;
}

.content {
  padding: 0 28px;
}

.main-figure {
  margin: 0 0 44px;
  padding: 48px 62px;
}

.btn-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 497px;
  height: 75px;
  margin: 0 auto 32px;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #0080cb), color-stop(73%, #004989));
  background: linear-gradient(180deg, #0080cb 31%, #004989 73%);
  border: none;
  border-radius: 18px;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.btn-default:hover {
  opacity: 0.7;
}

.btn-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 277px;
  height: 75px;
  margin: 0 auto 32px;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #57d852), color-stop(73%, #009245));
  background: linear-gradient(180deg, #57d852 31%, #009245 73%);
  border: none;
  border-radius: 18px;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.btn-back:hover {
  opacity: 0.7;
}

.btn-clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 497px;
  height: 75px;
  margin: 0 auto 32px;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #cccccc), color-stop(73%, #666666));
  background: linear-gradient(180deg, #cccccc 31%, #666666 73%);
  border: none;
  border-radius: 18px;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.btn-clear:hover {
  opacity: 0.7;
}

.bottom-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.bottom-btn-list .btn {
  margin: 0 8px 12px;
}

/* ----- TITLE ----- */
.ttl-blue-wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -24px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.8;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #0080cb), color-stop(73%, #004989));
  background: linear-gradient(180deg, #0080cb 31%, #004989 73%);
}

.ttl-blue-wide.ttl-blue-wide-full {
  margin: 0;
}

/* ----- TEXT ----- */
.txt {
  position: relative;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.35;
  color: #000000;
}

.txt.txt-has-star {
  padding: 0 0 0 24px;
}

.txt.txt-has-star::before {
  position: absolute;
  content: '※';
  left: 0;
  top: 0;
}

/* ----- MARGIN ----- */
.mb-20 {
  margin-bottom: 20px !important;
}

/* ナビーメニュー */
/* トップページのスタイル */
body.home .btn-lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 468px;
  height: 43px;
  margin: 0 auto 88px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #29abe2;
  border-radius: 21px;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.home .btn-lead:hover {
  opacity: 0.7;
}

body.home .lead {
  padding: 0 120px;
}

body.home #popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

body.home #popup .popup-bg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

body.home #popup .popup-body {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 844px;
  padding: 16px 10px;
  background-color: #ffffff;
  border: 7px solid #002589;
  border-radius: 12px;
}

body.home #popup .popup-body .popup-body-ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 75px;
  margin: 0 0 10px;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  background-color: #002589;
  border-radius: 40px;
}

body.home #popup .popup-body .popup-block {
  position: relative;
  width: 80%;
  margin: 0 0 30px;
  z-index: 1;
}

body.home #popup .popup-body .popup-block .popup-block-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.7;
  color: #002589;
}

body.home #popup .popup-body .popup-block .popup-block-txt {
  padding: 0 0 0 24px;
  font-size: 20px;
  line-height: 1.5;
}

body.home #popup .popup-body .popup-block .popup-block-txt span {
  position: relative;
  display: block;
  padding: 0 0 0 16px;
  font-size: 14px;
  line-height: 1.3;
}

body.home #popup .popup-body .popup-block .popup-block-txt span::before {
  position: absolute;
  content: '※';
  left: 0;
  top: 0;
}

body.home #popup .popup-body .popup-block:after {
  content: '';
  position: absolute;
  left: 45%;
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 23px 23px 0 23px;
  border-color: #ff1d1b transparent transparent transparent;
}

body.home #popup .popup-body .popup-figure {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 360px;
  z-index: 0;
}

/* 住所選択ページのスタイル */
body.address .address-content {
  width: 845px;
  margin: 0 auto;
}

body.address .address-content .address-select-block {
  margin: 0 0 24px;
}

body.address .address-content .address-select-block .address-select-block-ttl {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.8;
}

body.address .address-content .address-select-block .address-select-wrapper {
  position: relative;
  margin: 0 0 16px;
}

body.address .address-content .address-select-block .address-select-wrapper select {
  width: 100%;
  height: 75px;
  padding: 0 35px;
  font-size: 28px;
  font-weight: 700;
  background-color: #cccccc;
  border: none;
  border-radius: 40px;
  outline: none;
}

body.address .address-content .txt-case-no-address {
  margin: 0 0 32px;
}

body.address .address-content .address-lead {
  position: relative;
  border-radius: 15px 15px 12px 12px;
  border: 4px solid #ff0000;
}

body.address .address-content .address-lead .address-lead-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 80px;
  padding: 0 0 0 120px;
  font-size: 29px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #ff0000;
}

body.address .address-content .address-lead .address-lead-body {
  padding: 10px 24px 10px 200px;
}

body.address .address-content .address-lead .address-lead-body .address-lead-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -12px;
}

body.address .address-content .address-lead .address-lead-body .address-lead-btn-list .address-lead-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(50% - 24px);
  height: 51px;
  margin: 0 12px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.address .address-content .address-lead .address-lead-body .address-lead-btn-list .address-lead-btn:hover {
  opacity: 0.7;
}

body.address .address-content .address-lead .address-lead-body .address-lead-btn-list .address-lead-btn:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #57d852), color-stop(73%, #009245));
  background: linear-gradient(180deg, #57d852 31%, #009245 73%);
}

body.address .address-content .address-lead .address-lead-body .address-lead-btn-list .address-lead-btn:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, cyan), color-stop(73%, #2abada));
  background: linear-gradient(180deg, cyan 31%, #2abada 73%);
}

body.address .address-content .address-lead .address-lead-body .address-lead-txt {
  margin: 8px 0 0;
}

body.address .address-content .address-lead .address-lead-deco {
  position: absolute;
  left: -84px;
  bottom: 0;
}

/* 家財・オプション選択ページのスタイル */
body.select .select-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 50px;
}

body.select .select-head .select-head-l {
  width: calc(100% - 185px);
}

body.select .select-head .select-head-l .select-head-l-ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
}

body.select .select-head .select-head-l .select-head-l-ttl span {
  margin-right: 16px;
  font-size: 28px;
  font-weight: 700;
}

body.select .select-head .select-head-l .select-head-bar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.select .select-head .select-head-l .select-head-bar-list .select-head-bar-item {
  position: relative;
  width: 25%;
  height: 68px;
}

body.select .select-head .select-head-l .select-head-bar-list .select-head-bar-item span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 700;
}

body.select .select-head .select-head-l .select-head-bar-list .select-head-bar-item:nth-child(1) {
  background-color: cyan;
}

body.select .select-head .select-head-l .select-head-bar-list .select-head-bar-item:nth-child(1) span {
  color: #004989;
}

body.select .select-head .select-head-l .select-head-bar-list .select-head-bar-item:nth-child(2) {
  background-color: #d9e021;
}

body.select .select-head .select-head-l .select-head-bar-list .select-head-bar-item:nth-child(2) span {
  color: #009245;
}

body.select .select-head .select-head-l .select-head-bar-list .select-head-bar-item:nth-child(3) {
  background-color: #fbb03b;
}

body.select .select-head .select-head-l .select-head-bar-list .select-head-bar-item:nth-child(3) span {
  color: #f15a24;
}

body.select .select-head .select-head-l .select-head-bar-list .select-head-bar-item:nth-child(4) {
  background-color: #ff7bac;
}

body.select .select-head .select-head-l .select-head-bar-list .select-head-bar-item:nth-child(4) span {
  color: #c1272d;
}

body.select .select-head .select-head-r {
  width: 185px;
  text-align: center;
}

body.select .select-head .select-head-r .select-head-r-ttl {
  margin: 0 0 7px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.8;
}

body.select .select-head .select-head-r .select-head-cur-value {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.8;
}

body.select .select-head .select-head-r .select-head-cur-value span {
  font-size: 68px;
  line-height: 1.0;
  color: red;
}

body.select .select-body {
  margin: 0 0 20px;
  padding: 28px 0 0;
}

body.select .select-body .select-body-ttl {
  margin-bottom: 18px;
}

body.select .select-body .select-list .select-item .select-item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.8;
  color: #ffffff;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #cccccc), color-stop(73%, gray));
  background: linear-gradient(180deg, #cccccc 31%, gray 73%);
}

body.select .select-body .select-list .select-item .select-item-body {
  padding: 10px 0;
  display: none;
}

body.select .select-body .select-list .select-item .select-item-body table {
  width: 100%;
  border-collapse: collapse;
}

body.select .select-body .select-list .select-item .select-item-body table tr {
  width: 100%;
}

body.select .select-body .select-list .select-item .select-item-body table tr td, body.select .select-body .select-list .select-item .select-item-body table tr th {
  height: 75px;
  border: 1px solid #000000;
}

body.select .select-body .select-list .select-item .select-item-body table tr th {
  padding: 0 24px;
  text-align: center;
  vertical-align: top;
}

body.select .select-body .select-list .select-item .select-item-body table tr th img {
  margin: 0 auto;
}

body.select .select-body .select-list .select-item .select-item-body table tr td {
  position: relative;
  font-size: 28px;
  font-weight: 700;
}

body.select .select-body .select-list .select-item .select-item-body table tr td .item-name {
  position: relative;
  padding: 24px;
}

body.select .select-body .select-list .select-item .select-item-body table tr td .item-name .select-size {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 24px;
  cursor: pointer;
  padding-right: 30px;
}

body.select .select-body .select-list .select-item .select-item-body table tr td .item-name .select-size:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  border-color: #000000 transparent transparent transparent;
}

body.select .select-body .select-list .select-item .select-item-body table tr td .item-name .select-size.active:before {
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #000000 transparent;
}

body.select .select-body .select-list .select-item .select-item-body table tr td .item-name .item-ctrl {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 24px;
  padding: 10px 60px 10px 10px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 6px;
}

body.select .select-body .select-list .select-item .select-item-body table tr td .item-name .item-ctrl .up, body.select .select-body .select-list .select-item .select-item-body table tr td .item-name .item-ctrl .dn {
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

body.select .select-body .select-list .select-item .select-item-body table tr td .item-name .item-ctrl .up {
  position: absolute;
  right: 10px;
  top: 7px;
}

body.select .select-body .select-list .select-item .select-item-body table tr td .item-name .item-ctrl .up:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 15px 7px;
  border-color: transparent transparent #000000 transparent;
}

body.select .select-body .select-list .select-item .select-item-body table tr td .item-name .item-ctrl .dn {
  position: absolute;
  right: 10px;
  bottom: 7px;
}

body.select .select-body .select-list .select-item .select-item-body table tr td .item-name .item-ctrl .dn:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 7px 0 7px;
  border-color: #000000 transparent transparent transparent;
}

body.select .select-body .select-list .select-item .select-item-body table tr td .item-name .free-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.select .select-body .select-list .select-item .select-item-body table tr td .item-name .free-row input[type=text] {
  width: 140px;
  height: 56px;
  font-size: 28px;
  margin: 0 10px;
  padding: 0 10px;
  border: 1px solid #000000;
  border-radius: 6px;
  outline: none;
}

body.select .select-body .select-list .select-item .select-item-body table tr td ul li {
  padding: 0 0 0 56px;
  border-top: 1px solid #000000;
}

body.select .select-body .select-list .select-item .select-item-body table tr td ul li.gray {
  background-color: #e6e6e6;
}

body.select .select-body .select-list .select-item .select-item-body table tr td ul.sub-item-list {
  display: none;
}

body.select .select-body .select-list .select-item .select-item-body table.has-image tr th {
  width: 135px;
}

body.select .select-body .select-list .select-item .select-item-body table.has-image tr td {
  width: calc(100% - 135px);
}

body.select .select-standalone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0 50px;
}

body.select .select-standalone .standalone-icon {
  width: 219px;
}

body.select .select-standalone .standalone-info {
  width: calc(100% - 219px);
  padding: 0 0 0 20px;
}

body.select .select-standalone .standalone-info .standalone-info-ttl {
  margin: 0 0 16px;
  font-size: 42px;
  font-weight: 700;
  color: #ff1d25;
}

body.select .select-standalone .standalone-info .standalone-info-txt {
  font-size: 27px;
  font-weight: 400;
  line-height: 1.33;
}

body.select .select-standalone .standalone-desc {
  position: relative;
  width: 100%;
  margin: 20px 0 0;
  padding: 0 0 0 36px;
  font-size: 29px;
  font-weight: 700;
  line-height: 1.33;
  color: red;
}

body.select .select-standalone .standalone-desc::before {
  position: absolute;
  content: '※';
  left: 0;
  top: 0;
}

body.select .select-object {
  position: relative;
  padding: 30px 64px 10px;
  border: 4px solid #ed1c24;
  border-radius: 18px;
}

body.select .select-object .select-object-ttl {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -25px;
  text-align: center;
}

body.select .select-object .select-object-ttl span {
  padding: 0 20px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.8;
  color: #ff1d25;
  background-color: #ffffff;
}

body.select .select-message textarea {
  width: 100%;
  padding: 20px 10px;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.3;
  border: 1px solid #000000;
  border-radius: 24px;
  resize: none;
}

body.select-date .select-calendar {
  margin: 30px 0 20px;
}

body.select-date .select-calendar table {
  width: 100%;
  border-collapse: collapse;
}

body.select-date .select-calendar table tr {
  width: 100%;
}

body.select-date .select-calendar table tr th, body.select-date .select-calendar table tr td {
  text-align: center;
  vertical-align: middle;
  font-size: 28px;
  font-weight: 700;
  border: 1px solid #000000;
}

body.select-date .select-calendar table thead tr th:first-child {
  color: red;
  background-color: #ff7bac;
}

body.select-date .select-calendar table thead tr th:last-child {
  color: #004989;
  background-color: #3fa9f5;
}

body.select-date .select-calendar table tbody table tr td {
  cursor: pointer;
}

body.select-date .select-calendar table tbody table tr td:first-child {
  color: red;
  background-color: #ff7bac;
}

body.select-date .select-calendar table tbody table tr td:last-child {
  color: #004989;
  background-color: #3fa9f5;
}

body.select-date .select-calendar table tbody table tr td .fc-daygrid-day-frame {
  position: relative;
}

body.select-date .select-calendar table tbody table tr td .fc-daygrid-day-frame .fc-daygrid-day-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 95px;
}

body.select-date .select-calendar table tbody table tr td .fc-daygrid-day-frame .fc-daygrid-day-top .fc-daygrid-day-number {
  z-index: 1;
}

body.select-date .select-calendar table tbody table tr td .fc-daygrid-day-frame .fc-daygrid-day-bg {
  z-index: 0;
}

body.select-date .select-calendar table tbody table tr td .fc-daygrid-day-frame .fc-daygrid-day-bg .fc-highlight {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #c6c6c6;
}

body.select-date .select-calendar .fc-header-toolbar {
  position: relative;
}

body.select-date .select-calendar .fc-header-toolbar .fc-toolbar-title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

body.select-date .select-calendar .fc-header-toolbar .fc-prev-button {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 28px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

body.select-date .select-calendar .fc-header-toolbar .fc-prev-button:before {
  content: '<先月';
}

body.select-date .select-calendar .fc-header-toolbar .fc-next-button {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 28px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

body.select-date .select-calendar .fc-header-toolbar .fc-next-button:before {
  content: '次月>';
}

body.select-date .select-calendar .fc-header-toolbar .fc-today-button {
  display: none;
}

body.select-date .select-calendar .fc-header-toolbar .fc-toolbar-chunk:first-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

body.select-date .select-calendar .fc-header-toolbar .fc-toolbar-chunk:last-child {
  display: none;
}

body.select-infos .select-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 40px 0 20px;
}

body.select-infos .select-overview span.small {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
}

body.select-infos .select-overview span.medium {
  font-size: 66px;
  font-weight: 700;
}

body.select-infos .select-overview span.large {
  font-size: 179px;
  font-weight: 700;
  line-height: 1.0;
  color: #ff0000;
}

body.select-infos .select-overview span.right {
  text-align: right;
}

body.select-infos .select-info-table {
  margin: 0 0 20px;
}

body.select-infos .select-info-table table {
  width: 100%;
  border-collapse: collapse;
}

body.select-infos .select-info-table table tr {
  width: 100%;
}

body.select-infos .select-info-table table tr td {
  padding: 10px 25px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.7;
  border: 1px solid #000000;
}

body.select-infos .select-info-table table tr td.sht {
  width: 240px;
}

body.select-infos .select-info-table table tr td.lng {
  width: calc(100% - 240px);
}

body.select-infos .select-info-table table tr:nth-child(even) {
  background-color: #e6e6e6;
}

body.select-infos .select-info-date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 104px;
}

body.select-infos .select-info-date-wrapper .select-info-date {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.7;
}

body.select-price .price-body {
  margin: 0 0 190px;
  padding: 0 80px;
}

body.select-price .price-body .price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 148px;
  margin: 0 0 16px;
  background-color: #adffff;
}

body.select-price .price-body .price-wrapper .price {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.75;
}

body.select-price .price-body .price-wrapper .price span {
  font-size: 80px;
}

body.select-price .price-body .price-table {
  margin: 0 0 36px;
}

body.select-price .price-body .price-table table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 36px;
}

body.select-price .price-body .price-table table tr {
  width: 100%;
}

body.select-price .price-body .price-table table tr td, body.select-price .price-body .price-table table tr th {
  width: 50%;
  padding: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  border: 1px solid #000000;
}

body.select-price .price-body .price-table table tr th {
  background-color: #adffff;
}

body.select-price .price-body .price-table table tr:last-child td {
  background-color: #adffff;
}

body.select-price .attention .attention-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 72px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.7;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #ffb749), color-stop(73%, #ff6d00));
  background: linear-gradient(180deg, #ffb749 31%, #ff6d00 73%);
}

body.select-price .attention .attention-body {
  padding: 20px 24px 40px;
  background-color: #fff29d;
}

body.select-price .attention .attention-body .attention-txt {
  margin: 0 0 40px;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.6;
}

body.select-price .attention .attention-body .attention-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.select-price .attention .attention-body .attention-agree .chk-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.select-price .attention .attention-body .attention-agree .chk-wrapper input[type=checkbox] {
  width: 36px;
  height: 36px;
  border: 2px solid #000000;
  cursor: pointer;
}

body.select-price .attention .attention-body .attention-agree .chk-wrapper label {
  padding: 0 0 0 18px;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.7;
  cursor: pointer;
}

/* 家財・オプション選択ページのスタイル */
body.form .form-page-ttl {
  margin: 20px 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.7;
}

body.form .form-list {
  margin: 0 0 200px;
  padding: 0 128px;
}

body.form .form-list .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body.form .form-list .form-row .form-item-name {
  margin: 0 0 16px;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.7;
}

body.form .form-list .form-row .form-item-name span {
  margin: 0 0 0 10px;
  font-size: 13px;
  font-weight: 400;
}

body.form .form-list .form-row .form-item-name span.vertical {
  display: block;
  margin: -10px 0 0;
}

body.form .form-list .form-row .form-item-name.bold {
  font-weight: 700;
}

body.form .form-list .form-row .form-item-name.small {
  width: 160px;
  font-size: 18px;
}

body.form .form-list .form-row .form-item-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 160px);
  margin: -4px 0 16px;
}

body.form .form-list .form-row .form-item-group.full {
  width: 100%;
}

body.form .form-list .form-row .form-item-group label.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.7;
}

body.form .form-list .form-row .form-item-group input[type=radio] {
  width: 20px;
  height: 20px;
}

body.form .form-list .form-row .form-item-group input[type=text], body.form .form-list .form-row .form-item-group input[type=email], body.form .form-list .form-row .form-item-group input[type=tel] {
  width: 100%;
  height: 32px;
  padding: 0 10px;
  font-size: 19px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #000000;
}

body.form .form-list .form-row .form-item-group input[type=text].post-code {
  width: auto;
}

body.form .form-list .form-row .form-item-group .form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 98px;
  height: 32px;
  margin: 0 0 0 16px;
  font-size: 18px;
  border: 1px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.form .form-list .form-row .form-item-group .form-btn:hover {
  opacity: 0.7;
}

body.form .form-list .form-block {
  margin: 20px 0;
}

body.form .form-list .form-block .form-block-ttl {
  position: relative;
  margin: 0 0 16px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.7;
}

body.form .form-list .form-block .form-block-ttl span {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  background-color: #ffffff;
  z-index: 1;
}

body.form .form-list .form-block .form-block-ttl:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
  z-index: 0;
}

body.form .form-list .form-desc {
  position: relative;
  padding: 0 0 0 20px;
  font-size: 21px;
  line-height: 1.7;
}

body.form .form-list .form-desc:before {
  content: '※';
  position: absolute;
  left: 0;
  top: 0;
}

body.form .form-list hr {
  margin: 20px -20px;
}
